@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
    --red: #f65351;
    --blue: #0a317b;

    --white: #ffffff;
    --very-light-grayish-blue: #f7fafd;
    --light-grayish-blue-1: #e5effa;
    --light-grayish-blue-2: #dde7ee;
    --grayish-blue: #939dae;
    --dark-grayish-blue: #5e6778;
    --very-dark-blue: #1c202b;
}

body {
    background-color: var(--very-light-grayish-blue);
}

a {
    font-weight: 800;
    color: var(--blue);
}

h1 {
    font-size: 18px;
    letter-spacing: 1px;
}

h3 {
    transition: .2s;
    font-size: 14px; 
    padding-right: 4px;
    color: var(--very-dark-blue);
}

    h3:hover {
        cursor: pointer;
        color: var(--blue);
    }

.count_notification {
    width: 12px;
    height: 12px;
    font-size: 10px;
    margin-left: -8px;
    text-align: center;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--red);
}

main {
    gap: 20px;
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 30px auto;
    border-radius: 8px;
    padding: 24px 20px;
    background-color: var(--white);
    box-shadow: 0 0 14px var(--light-grayish-blue-1);
}

.header_notification {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

    .header_notification button {
        border: none;
        cursor: pointer;
        color: var(--dark-grayish-blue);
        background-color: transparent;
    }

    .count {
        font-size: 14px;
        margin-left: 6px;
        padding: 2px 10px;
        border-radius: 4px;
        color: var(--white);
        background-color: var(--blue);
    }

.body_notification {
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    flex-direction: column;
}

.notification {
    width: 100%;
    padding: 8px;
    display: flex;
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    align-content: center;
    align-items: flex-start;
}

    .new_notification {
        width: 100%;
        position: relative;
        background-color: var(--very-light-grayish-blue);
    }

        .new_notification:after {
            top: 16px;
            right: 8px;
            width: 6px;
            height: 6px;
            content: '';
            position: absolute;
            border-radius: 50%;
            background-color: var(--red);
        }

    .notification_image img {
        width: 40px;
        margin-right: 10px;
    }

.notification_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

    .notification_content span {
        font-weight: 500;
        color: var(--dark-grayish-blue);
    }

    .timeago {
        width: 100%;
        padding: 4px 0;
        color: var(--grayish-blue);
    }

    .message {
        padding: 16px;
        transition: .2s;
        margin-top: 16px;
        border-radius: 6px;
        color: var(--grayish-blue);
        border: 1px solid var(--light-grayish-blue-1)
    }

        .message:hover {
            transition: .2s;
            cursor: pointer;
            color: var(--dark-grayish-blue);
            background-color: var(--light-grayish-blue-2)
        }

    .preview__picture {
        top: 5px;
        right: 8px;
        position: absolute;
    }

        .preview__picture img {
            width: 50px;
            cursor: pointer;
        }

@media only screen and (max-width: 375px) {
    main {
        padding: 20px;
        margin: 10px;
    }
}